@use "../../../styles/variables.scss";

.button {
  background-color: variables.$pink-primary;
  z-index: 10;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition-duration: 0.5s;
  text-wrap: nowrap;
  width: min-content;

  &:hover {
    filter: brightness(115%);
  }
}
