@use "../../styles/variables.scss";

.banner {
  background: url("../../assets/images/banner.png") no-repeat center center;
  height: 400px;
  background-size: cover;
  position: relative;

  .gradient-banner {
    position: absolute;
    inset: 0;
    background-size: cover;
    height: 400px;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.85) 85%
    );
  }

  .banner-content {
    width: 70%;
    height: 400px;
    color: variables.$white;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      font-size: 30px;
      z-index: 20;
      font-weight: 600;
    }
    span {
      font-size: 24px;
      z-index: 20;
      font-weight: 600;
    }

    .banner-button {
      width: 227px;
      padding: 16px 0px;
      margin-top: 35px;
      font-size: 18px;
    }
  }
}

@media (min-width: 1024px) {
  .banner {

    .banner-content {
      width: 50%;
      h1 {
        font-size: 48px;
      }
      span {
        font-size: 36px;
      }
    }
  }
}
